!!!
html
    head
        title Energiatieto
        link(rel="stylesheet",href="styles/main.css")
        script(type="text/javascript",src="/vendor/underscore-min.js")
        script(type="text/javascript",src="/vendor/angular.min.js")
        script(type="text/javascript",src="/vendor/proj4.js")
        script(type="text/javascript",src="/vendor/OpenLayers.js")
        script(type="text/javascript",src="/components/d3/d3.js")
        script(type="text/javascript",src="/components/energiatieto-calculation/dist/calculations.js")
        script(type="text/javascript",src="/js/directives.js")
        script(type="text/javascript",src="/js/map.js")
        script(type="text/javascript",src="/js/energysystem.js")
        script(type="text/javascript",src="/js/energycalculation.js")
        script(type="text/javascript",src="/js/pubsub.js")
        script(type="text/javascript",src="/js/application.js")
    body
        .map(ng-controller="mapController",ng-class="{reduced: reduced}")
            div(ng-click="zoomClick()",style="position: absolute; top: 10px; right: 10px; background-color: white; z-index: 1000;") Zoom
            div(openlayers,
                popups="popups",
                layers="layers",
                projection="projection",
                zoom="zoom",
                center="center",
                restricted-extent="bounds",
                style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;")
        .calculations(ng-controller="energyCalculationController",ng-class="{open: open}")
            h1 Energialaskelma
            #savingsSum.col1.boxed Säästöt keskimäärin 
                p.effectsSum 327 €/kk
            #productionSum.col2.boxed Energiantuotanto keskimäärin
                p.effectsSum 2200 kWh/kk
            #priceSum.col3.boxed Kokonaishinta
                p.effectsSum 27 500 €
            #paybackSum.col4.boxed Takaisinmaksuaika
                p.effectsSum 19 v
            .col5.boxed Kuvatukset
                div Tässä kuvatusten oma gridi
                    .heating-graph(n3-graph,ng-model="heatingSeries",layer-classes="electricityLayerClasses")
                        svg(style='height:200px; width: 300px;')
            .col6
                .boxed 
                    h2 Aurinkosähkö
                    .controls Järjestelmän koko
                    .effects
                        .savings Säästöt
                            p 100 €/kk
                        .production Energiantuotanto
                            p 100 kWh/kk
                        .price Hinta
                            p 100 €
                        .payback Takaisinmaksuaika
                            p 7 v
                .boxed 
                    h2 Aurinkolämpö
                    .controls Järjestelmän koko
                    .effects
                        .savings Säästöt
                            p 100 €/kk
                        .production Energiantuotanto
                            p 100 kWh/kk
                        .price Hinta
                            p 100 €
                        .payback Takaisinmaksuaika
                            p 7 v
                .boxed 
                    h2 Maalämpö
                    .controls Käytetystä lämmöstä tuotettava osuus
                    .effects
                        .savings Säästöt
                            p 100 €/kk
                        .production Energiantuotanto
                            p 100 kWh/kk
                        .price Hinta
                            p 100 €
                        .payback Takaisinmaksuaika
                            p 7 v
            .col7.boxed
                h2 Kiinteistön tiedot
                .controls
                    p Asukasmäärä
                        input(ng-model="building.numberOfInhabitants")
                    p Pinta-ala 
                        input(ng-model="building.floorArea") 
                        | m2
                    p Rakennusvuosi
                        input(ng-model="building.buildingYear")
                    p Lämmitysmuoto
                        select(ng-model="building.heatingSystem", ng-options="key as value for (key, value) in heatingOptions")
