!!!
html
    head
        title Energiatieto
        link(rel="stylesheet",href="styles/main.css")
        link(rel="stylesheet",href="/components/angular-slider/angular-slider.css")
        script(type="text/javascript",src="/vendor/underscore-min.js")
        script(type="text/javascript",src="/components/angular/angular.js")
        script(type="text/javascript",src="/vendor/proj4.js")
        script(type="text/javascript",src="/vendor/OpenLayers.js")
        script(type="text/javascript",src="/components/d3/d3.js")
        script(type="text/javascript",src="/components/energiatieto-calculation/dist/calculations.js")
        script(type="text/javascript",src="/components/angular-slider/angular-slider.js")
        script(type="text/javascript",src="/js/directives.js")
        script(type="text/javascript",src="/js/map.js")
        script(type="text/javascript",src="/js/energysystem.js")
        script(type="text/javascript",src="/js/energycalculation.js")
        script(type="text/javascript",src="/js/pubsub.js")
        script(type="text/javascript",src="/js/application.js")
    body
        .map(ng-controller="mapController",ng-class="{reduced: reduced}")
            div(ng-click="zoomClick()",style="position: absolute; top: 10px; right: 10px; background-color: white; z-index: 1000;") Zoom
            div(openlayers,
                popups="popups",
                layers="layers",
                projection="projection",
                zoom="zoom",
                center="center",
                restricted-extent="bounds",
                style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;")
        .calculations(ng-controller="energyCalculationController",ng-class="{open: open}")
            a.back(href="#") Takaisin hakuun
            .actioncontainer
                .actionbutton Lähetä tarjouspyyntö
                .actionbutton Hae toimenpidelupaa
            h1 Energialaskelma
            #savingsSum.col1.boxed 
                .positioncontainer
                    h2 Säästöt keskimäärin 
                p 327 €/kk
            #productionSum.col2.boxed
                .positioncontainer
                    h2 Energiantuotanto keskimäärin
                p {{calculationResult.averageMonthlyProduction | currencyFormat}} kWh/kk
            #priceSum.col3.boxed 
                .positioncontainer
                    h2 Kokonaishinta
                p {{calculationResult.systemCost.initialInvestment | currencyFormat}} €
            #paybackSum.col4.boxed
                .positioncontainer
                    h2 Takaisinmaksuaika
                p {{calculationResult.systemCost.paybackTime}} v
            .col5.boxed Kuvatukset
                div Sähkö
                    .electricity-graph(n3-graph,ng-model="electricitySeries",layer-classes="electricityLayerClasses")
                        svg(style='height:200px; width: 300px;')
                div Lämpöenergia
                    .heating-graph(n3-graph,ng-model="heatingSeries",layer-classes="heatingLayerClasses")
                        svg(style='height:200px; width: 300px;')            
            .col7.boxed
                .headerbar
                    .info 
                    h2 Kiinteistön tiedot
                .table
                    .highlight Tarkista asukasmäärä ja muut tiedot!
                    h3 Käyttäjät ja käyttö
                    table
                        tr
                            td Asukasmäärä:
                            td
                                input.shortInput(type="text",ng-model="building.numberOfInhabitants")
                            td hlö
                        tr
                            td Sähkön kulutus:
                            td
                                input.longInput(type="text")
                            td kWh/v
                        tr
                            td Lämmitysenergian kulutus:
                            td
                                input.longInput(type="text")
                            td kWh/v
                    h3 Kiinteistö
                    table
                        tr
                            td Pinta-ala
                            td
                                input.shortInput(type="text",ng-model="building.floorArea") 
                            td m
                                sup 2
                        tr
                            td Kerrosten lukumäärä:
                            td 
                                input.shortInput(type="text") 
                            td
                        tr
                            td Rakennusvuosi:
                            td
                                input.shortInput(type="text",ng-model="building.buildingYear")
                            td
                        tr
                            td Lämmitysmuoto:
                            td
                                .dropdown
                                    select(ng-model="building.heatingSystem", ng-options="key as value for (key, value) in heatingOptions")
                            td
                    .effects
                        .positioncontainer
                            .infobutton Laskelman tiedot
            .col6
                .boxed(ng-class="{disabled: !building.photoVoltaic.active}")
                    .headerbar
                        .info 
                            .infopopup Aurinkosähkö on auringon energiasta aurinkokennoilla tuotettua sähköä. Aurinkosähköä voidaan käyttää sähköverkosta saatavan sähkön rinnalla tai itsenäisesti sähköverkon ulkopuolella. Useat energiayhtiöt myös ostavat verkkoon kytkettyjen järjestelmien ylijäämäsähköä.
                                .downarrow
                        h2 Aurinkosähkö
                        span.toggle_solarelectricity_on(ng-click="building.photoVoltaic.active = !building.photoVoltaic.active",ng-show="building.photoVoltaic.active")
                            span Käytössä
                        span.toggle_off(ng-click="building.photoVoltaic.active = !building.photoVoltaic.active",ng-hide="building.photoVoltaic.active")
                            span Ei käytössä
                    .controls Järjestelmän koko
                        span.slideramount {{building.photoVoltaic.photovoltaicArea}} m
                            sup 2
                        slider.solarelectricity(floor="0",ceiling="100",step="1",precision="0",ng-model="building.photoVoltaic.photovoltaicArea")
                        .suggestiondash
                            .suggestionpointer
                        .suggestion Ehdotus
                    .effects
                        .positioncontainer
                            .infobutton Laskelman tiedot
                        .savings Säästöt
                            p 100 €/kk
                        .production Energiantuotanto
                            p 100 kWh/kk
                        .price Hinta
                            p 100 €
                        .payback Takaisinmaksuaika
                            p 7 v
                        
                .boxed(ng-class="{disabled: !building.thermalPanel.active}")
                    .headerbar
                        .info
                        h2 Aurinkolämpö 
                        span.toggle_solarheat_on(ng-click="building.thermalPanel.active = !building.thermalPanel.active", ng-show="building.thermalPanel.active")
                            span Käytössä
                        span.toggle_off(ng-click="building.thermalPanel.active = !building.thermalPanel.active", ng-hide="building.thermalPanel.active")
                            span Ei käytössä
                    .controls Järjestelmän koko 
                        span.slideramount{{building.thermalPanel.thermalArea}} m
                            sup 2
                        slider.solarheat(floor="0",ceiling="100",step="1",precision="0",ng-model="building.thermalPanel.thermalArea")
                        .suggestiondash
                            .suggestionpointer
                        .suggestion Ehdotus
                    .effects
                        .positioncontainer
                            .infobutton Laskelman tiedot
                        .savings Säästöt
                            p 100 €/kk
                        .production Energiantuotanto
                            p 100 kWh/kk
                        .price Hinta
                            p 100 €
                        .payback Takaisinmaksuaika
                            p 7 v
                        
                .boxed(ng-class="{disabled: !building.borehole.active}")
                    .headerbar
                        .info 
                        h2(ng-click="building.borehole.active = !building.borehole.active") Maalämpö 
                        span.toggle_geoterm_on(ng-click="building.borehole.active = !building.borehole.active", ng-show="building.borehole.active")
                            span Käytössä
                        span.toggle_off(ng-click="building.borehole.active = !building.borehole.active", ng-hide="building.borehole.active")
                            span Ei käytössä
                    .controls Käytetystä lämmöstä tuotettava osuus
                        span.slideramount %
                        slider.geoterm(floor="0",ceiling="100",step="1",precision="0")
                        .suggestiondash
                            .suggestionpointer
                        .suggestion Ehdotus
                    .effects
                        .positioncontainer
                            .infobutton Laskelman tiedot   
                        .savings Säästöt
                            p 100 €/kk
                        .production Energiantuotanto
                            p 100 kWh/kk
                        .price Hinta
                            p 100 €
                        .payback Takaisinmaksuaika
                            p 7 v
            .footer
                p footerteksti