!!!
html
    head
        title Energiatieto
        link(rel="stylesheet",href="styles/main.css")
        link(rel="stylesheet",href="/components/angular-slider/angular-slider.css")
        script(type="text/javascript",src="/vendor/underscore-min.js")
        script(type="text/javascript",src="/components/jquery/jquery.js")
        script(type="text/javascript",src="/components/angular/angular.js")
        script(type="text/javascript",src="/vendor/proj4.js")
        script(type="text/javascript",src="/vendor/OpenLayers.js")
        script(type="text/javascript",src="/components/d3/d3.js")
        script(type="text/javascript",src="/components/energiatieto-calculation/dist/calculations.js")
        script(type="text/javascript",src="/components/angular-slider/angular-slider.js")
        script(type="text/javascript",src="/js/directives.js")
        script(type="text/javascript",src="/js/address-form.js")
        script(type="text/javascript",src="/js/map.js")
        script(type="text/javascript",src="/js/energysystem.js")
        script(type="text/javascript",src="/js/energycalculation.js")
        script(type="text/javascript",src="/js/pubsub.js")
        script(type="text/javascript",src="/js/constants.js")
        script(type="text/javascript",src="/js/application.js")
    body
        script
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-48247801-1', 'energiatieto-2-0.herokuapp.com');
            ga('send', 'pageview');

        .map(ng-controller="mapController",ng-class="{reduced: reduced, small: small}")
            div(openlayers,
                controls="controls",
                popups="popups",
                layers="layers",
                projection="projection",
                zoom="zoom",
                center="center",
                restricted-extent="bounds",
                style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;")
            .olPopup.choose-building(ng-show="hasBuildingChoices") 
                .olPopupContent 
                    p.popup-text Löytyi useita, valitse oikea rakennus:
            .solarlegend
                h3 Aurinkoenergian määrä
                .right Paljon
                .left Vähän
                .grading
            .address-form(ng-controller="addressFormController",ng-hide="hidden")
                h1 Tervetuloa Energiatietopalveluun!
                    span BETA
                p Ota selvää, kuinka paljon kotitaloudessasi voisi säästää ottamalla<br />käyttöön aurinkoenergiaa ja maalämpöä.
                label Osoite (Espoon alueella):
                input.addressInput(ng-model="addressInput",ng-keydown="keyDown")
                ul.flyout(ng-show="addressChoices.length > 0")
                    li(ng-repeat="item in addressChoices", ng-click="selectItem(item)",ng-class="{focus: hasFocus(item)}")
                        span(address-match="item",input="{{addressInput}}")
        .calculations(ng-controller="energyCalculationController",ng-class="{open: open, extended: extended}")
            .margin
                p.header Energialaskelma
                h1 {{building.address}}
                    span BETA
                a.back(href="#",ng-click="reset()",ng-show="open") Takaisin hakuun
                .actioncontainer(ng-show="open")
                    a(href="http://energiatieto.herokuapp.com/toimittajavalinta_lomake.pdf",target="_blank").actionbutton Lähetä tarjouspyyntö
                    a(href="https://easiointi.espoo.fi/ePermit/",target="_blank").actionbutton Hae toimenpidelupaa
                #savingsSum.col1.boxed 
                    .positioncontainer
                        h2 Säästöt<br />keskimäärin 
                    p {{calculationResult.systemCost.averageSavings | currencyFormat}} €/kk
                #productionSum.col2.boxed
                    .positioncontainer
                        h2 Energiantuotanto<br />keskimäärin
                    p {{calculationResult.averageMonthlyProduction | currencyFormat}} kWh/kk
                #priceSum.col3.boxed 
                    .positioncontainer
                        h2 Kokonaishinta
                    p {{calculationResult.systemCost.initialInvestment | currencyFormat}} €
                #paybackSum.col4.boxed
                    .positioncontainer
                        h2 Takaisinmaksuaika
                    p {{calculationResult.systemCost.paybackTime}} v
                .col5.graphbox
                    .graphgrid
                        .largegraphs
                            .graphs
                                .fader
                                div 
                                    h2 Sähkö
                                    .top-caption Oma tuotanto
                                    .electricity-graph(d3-graph,ng-model="electricitySeries",layer-classes="electricityLayerClasses")
                                        svg(style='height: 120px; width: 290px;')
                                            .months
                                                .month 1
                                                .month 2
                                                .month 3 
                                                .month 4 
                                                .month 5 
                                                .month 6 
                                                .month 7 
                                                .month 8 
                                                .month 9 
                                                .month 10 
                                                .month 11 
                                                .month 12
                                    .bottom-caption Ostettava energia
                                div.divider 
                                    h2 Lämpöenergia
                                    .heating-graph(d3-graph,ng-model="heatingSeries",layer-classes="heatingLayerClasses")
                                        svg(style='height:120px; width: 290px;')
                                            .months
                                                .month 1
                                                .month 2
                                                .month 3 
                                                .month 4 
                                                .month 5 
                                                .month 6 
                                                .month 7 
                                                .month 8 
                                                .month 9 
                                                .month 10 
                                                .month 11 
                                                .month 12
                                .key Ostoenergia
                                    .bought
                                .key Aurinkosähkö
                                    .solarelectric
                                .key Aurinkolämpö
                                    .solarheat
                                .key Maalämpö
                                    .geoterm
                                .key Ylijäämä
                                    .surplus
                            .disclaimer Tämä laskelma on suuntaa antava. Laskelma perustuu julkisesti saatavilla oleviin tietoihin ja yleisiin keskiarvoihin. Asunnot, perheet ja elintavat poikkeavat toisistaan paljon, joten tarkimman tuloksen saat, kun tarkistat laskelman pohjatiedot ja korjaat ne mahdollisimman oikeiksi. Huomioithan, että oikeilla tiedoillakin tarkennettu laskelma on edelleen likimääräinen.
                        .smallgraphs
                            h3 Kokonaiskustannukset
                            .payback-graph(d3-payback-graph,ng-model="systemCostSeries",layer-classes="systemCostClasses")
                                svg(style='height: 240px; width: 200px;')
                            .key Nykyinen
                                .current
                            .key Tuleva
                                .future
                .col7.boxed
                    .headerbar
                        .info
                            .infopopup Tämä laskelma on suuntaa antava. Laskelma perustuu julkisesti saatavilla oleviin tietoihin ja yleisiin keskiarvoihin. Asunnot, perheet ja elintavat poikkeavat toisistaan paljon, joten tarkimman tuloksen saat, kun tarkistat laskelman pohjatiedot ja korjaat ne mahdollisimman oikeiksi. Huomioithan, että oikeilla tiedoillakin tarkennettu laskelma on edelleen likimääräinen.
                                .downarrow
                        h2 Kiinteistön tiedot
                    .table
                        .highlight Tarkista asukasmäärä ja muut tiedot!
                        h3 Käyttäjät ja käyttö
                        table
                            tr
                                td Asukasmäärä:
                                td
                                    input.shortInput(type="text",ng-model="building.numberOfInhabitants")
                                td hlö
                            tr
                                td Sähkön kulutus:
                                td
                                    input.longInput(type="text",ng-model="building.electricityConsumption")
                                td kWh/v
                            tr
                                td(ng-switch, on="building.heatingSystem")
                                    span(ng-switch-when="1") Kaukolämmön kulutus:
                                    span(ng-switch-when="2") Öljyn kulutus:
                                    span(ng-switch-default) Lämmitysenergiantarve:
                                td(ng-switch, on="building.heatingSystem")
                                    input.longInput(ng-switch-when="1",type="text",ng-model="building.districtHeatingConsumption")
                                    input.longInput(ng-switch-when="2",type="text",ng-model="building.oilConsumption")
                                    input.longInput(disabled,ng-switch-when="3",type="text",ng-model="building.spaceHeatingEnergyRequired")
                                td(ng-switch, on="building.heatingSystem")
                                    span(ng-switch-when="2") l/v
                                    span(ng-switch-default) kWh/v
                        h3 Kiinteistö
                        table
                            tr
                                td Pinta-ala
                                td
                                    input.shortInput(type="text",ng-model="building.floorArea") 
                                td m
                                    sup 2
                            tr
                                td Kerrosten lukumäärä:
                                td 
                                    input.shortInput(type="text",ng-model="building.floorCount")
                                td
                            tr
                                td Rakennusvuosi:
                                td
                                    input.shortInput(type="text",ng-model="building.buildingYear")
                                td
                            tr
                                td Lämmitysmuoto:
                                td
                                    .dropdown
                                        select(ng-model="building.heatingSystem", ng-options="key as value for (key, value) in heatingOptions")
                                td
                        .effects
                            .positioncontainer
                                .infobutton(ng-click="showConstants()") Laskelman tiedot
                .col6
                    .boxed(ng-class="{disabled: !building.photoVoltaic.active}")
                        .headerbar
                            .info
                                .infopopup Aurinkosähkö on auringon energiasta aurinkokennoilla tuotettua sähköä. Aurinkosähköä voidaan käyttää sähköverkosta saatavan sähkön rinnalla tai itsenäisesti sähköverkon ulkopuolella. Useat energiayhtiöt myös ostavat verkkoon kytkettyjen järjestelmien ylijäämäsähköä.
                                    .downarrow
                            h2 Aurinkosähkö
                            span.toggle_solarelectricity_on(ng-click="building.photoVoltaic.active = !building.photoVoltaic.active",ng-show="building.photoVoltaic.active")
                                span Mukana laskelmassa
                            span.toggle_off(ng-click="building.photoVoltaic.active = !building.photoVoltaic.active",ng-hide="building.photoVoltaic.active")
                                span Ei laskelmassa
                        .controls Järjestelmän koko
                            span.slideramount {{building.photoVoltaic.size}} m
                                sup 2
                            slider.solarelectricity(floor="0",ceiling="{{freePhotoVoltaicRoofSize}}",step="1",precision="0",ng-model="building.photoVoltaic.size")
                            .suggestiondash(ng-style="{width: (recommendedPhotoVoltaicPanelPercentage * 70) + '%'}")
                                .suggestionpointer 
                                    .suggestion Ehdotus
                        .effects
                            .positioncontainer
                                .infobutton(ng-click="showConstants()") Laskelman tiedot
                            .savings Säästöt
                                p {{photovoltaicPanelOnlyResult.systemCost.averageSavings | currencyFormat}} €/kk
                            .production Energiantuotanto
                                p {{solarElectricityAverage | currencyFormat}} kWh/kk
                            .price Hinta
                                p {{photovoltaicPanelOnlyResult.systemCost.initialInvestment | currencyFormat}} €
                            .payback Takaisinmaksuaika
                                p {{photovoltaicPanelOnlyResult.systemCost.paybackTime}} v
                            
                    .boxed(ng-class="{disabled: !building.thermalPanel.active}")
                        .headerbar
                            .info
                                .infopopup Aurinkolämpö on auringon energiasta aurinkokeräimellä talteen kerättyä lämpöä, joka voidaan varastoida ja käyttää esim. käyttöveden tai sisäilman lämmitykseen. Aurinkolämpö käytetään suoraan muuttamatta sitä sähköksi.
                                    .downarrow
                            h2 Aurinkolämpö 
                            span.toggle_solarheat_on(ng-click="building.thermalPanel.active = !building.thermalPanel.active", ng-show="building.thermalPanel.active")
                                span Mukana laskelmassa
                            span.toggle_off(ng-click="building.thermalPanel.active = !building.thermalPanel.active", ng-hide="building.thermalPanel.active")
                                span Ei laskelmassa
                        .controls Järjestelmän koko 
                            span.slideramount{{building.thermalPanel.size}} m
                                sup 2
                            slider.solarheat(floor="0",ceiling="{{freeThermalRoofSize}}",step="1",precision="0",ng-model="building.thermalPanel.size")
                            .suggestiondash(ng-style="{width: (recommendedThermalPanelPercentage * 70) + '%'}")
                                .suggestionpointer
                                    .suggestion Ehdotus
                        .effects
                            .positioncontainer
                                .infobutton(ng-click="showConstants()") Laskelman tiedot
                            .savings Säästöt
                                p {{thermalPanelOnlyResult.systemCost.averageSavings | currencyFormat}} €/kk
                            .production Energiantuotanto
                                p {{solarHeatAverage | currencyFormat}} kWh/kk
                            .price Hinta
                                p {{thermalPanelOnlyResult.systemCost.initialInvestment | currencyFormat}} €
                            .payback Takaisinmaksuaika
                                p {{thermalPanelOnlyResult.systemCost.paybackTime}} v
                            
                    .boxed(ng-class="{disabled: !building.borehole.active}")
                        .headerbar
                            .info
                                .infopopup Maalämpö on auringon säteilystä maaperään varastoitunutta lämpöenergiaa. Maalämpöjärjestelmällä kerättynä sitä voidaan käyttää rakennusten ja käyttöveden lämmittämiseen. 
                                    .downarrow
                            h2(ng-click="building.borehole.active = !building.borehole.active") Maalämpö 
                            span.toggle_geoterm_on(ng-click="building.borehole.active = !building.borehole.active", ng-show="building.borehole.active")
                                span Mukana laskelmassa
                            span.toggle_off(ng-click="building.borehole.active = !building.borehole.active", ng-hide="building.borehole.active")
                                span Ei laskelmassa
                        .controls Käytetystä lämmöstä tuotettava osuus
                            span.slideramount {{building.borehole.depthPercentage}} %
                            slider.geoterm(floor="0",ceiling="100",step="1",precision="0",ng-model="building.borehole.depthPercentage")
                            .suggestiondash
                                .suggestionpointer
                                    .suggestion Ehdotus
                        .effects
                            .positioncontainer
                                .infobutton(ng-click="showConstants()") Laskelman tiedot   
                            .savings Säästöt
                                p {{boreHoleOnlyResult.systemCost.averageSavings | currencyFormat}} €/kk
                            .production Energiantuotanto
                                p {{boreHoleAverage | currencyFormat}} kWh/kk
                            .price Hinta
                                p {{boreHoleOnlyResult.systemCost.initialInvestment | currencyFormat}} €
                            .payback Takaisinmaksuaika
                                p {{boreHoleOnlyResult.systemCost.paybackTime}} v
            .footer
                p Kaupunkisuunnittelukeskus, Espoon kaupunki
        .constants(ng-controller="constantsController",ng-class="{open: open}",ng-show="open")
            .closebutton(ng-click="close()",ng-show="open") Sulje
            .table
                h3 Rahoitustiedot
                table
                    tr
                        td Vuosikorko: 
                        td
                            input.shortInput(type="number",ng-model="constants.systemCost.nominalInterest", step="0.01")
                        td
                    tr
                        td Inflaatioprosentti:
                        td
                            input.shortInput(type="number",ng-model="constants.systemCost.inflation", step="0.01")
                        td
                    tr
                        td Energian eskalaatioprosentti:
                        td
                            input.shortInput(type="number",ng-model="constants.systemCost.energyEscalation", step="0.01")
                        td
                    tr
                        td Aurinkosähköpaneelin hinta:
                        td
                            input.shortInput(type="number",ng-model="constants.systemCost.solarEnergySquareMeterPrice")
                        td &euro;/m
                            sup 2
                    tr
                        td Aurinkolämpöpaneelin hinta:
                        td
                            input.shortInput(type="number",ng-model="constants.systemCost.solarHeatSquareMeterPrice")
                        td &euro;/m
                            sup 2
                    tr
                        td Maalämpöjärjestelmän peruskustannus:
                        td
                            input.shortInput(type="number",ng-model="constants.systemCost.boreholeSystemCost")
                        td &euro;
                    tr
                        td Maalämpöjärjestelmän porauskustannus:
                        td
                            input.shortInput(type="number",ng-model="constants.systemCost.boreholeCostPerMeter")
                        td &euro;/m
                    tr
                        td Sähkön ostohinta:
                        td
                            input.shortInput(type="number",ng-model="constants.systemCost.electricityBuyPrice")
                        td &euro;/m
                            sup 2
                    tr
                        td Sähkön myyntihinta:
                        td
                            input.shortInput(type="number",ng-model="constants.systemCost.electricitySellPrice")
                        td &euro;/m
                            sup 2
                    tr
                        td Öljylämmön ostohinta:
                        td
                            input.shortInput(type="number",ng-model="constants.systemCost.heatingEnergyBuyPrices.oil")
                        td &euro;/kWh
                    tr
                        td Kaukolämmityksen ostohinta:
                        td
                            input.shortInput(type="number",ng-model="constants.systemCost.heatingEnergyBuyPrices.districtHeating")
                        td &euro;/kWh
                    tr
                        td Vuosittainen huoltoinvestointiprosentti:
                        td
                            input.shortInput(type="number",ng-model="constants.systemCost.yearlyMaintenanceCostPercentage", step="0.01")
                        td
            .table                
                h3 Rakennuskohtaiset tiedot
                table
                    tr
                        td Keskimääräinen huonekorkeus:
                        td
                            input.shortInput(type="number",ng-model="building.averageRoomHeight") 
                        td m
                    tr
                        td Lämpimän veden kulutus henkilöä kohti:

                        td 
                            input.shortInput(type="number",ng-model="building.waterConsumptionPerPersonPerDay")
                        td l/päivä
                    tr
                        td Käyttöveden lämmitystarve:
                        td
                            input.shortInput(type="number",ng-model="building.waterHeatingTemperatureDifference"))
                        td °C
                    tr
                        td Käyttöveden lämmityksen häviöt:
                        td
                            input.shortInput(type="number",ng-model="building.waterHeatingLosses", step="0.01")
                        td 
                    tr
                        td Öljypolttimen hyötysuhde:
                        td
                            input.shortInput(type="number",ng-model="building.oilEfficiency", step="0.01")
                        td 
                    tr
                        td Kaukolämmityksen hyötysuhde: 
                        td
                            input.shortInput(type="number",ng-model="building.districtHeatingEfficiency", step="0.01")
                        td 
                    tr
                        td Kiinteistö- ja käyttösähkön vuosikulutus: 
                        td
                            input.shortInput(type="number",ng-model="building.nominalElectricityConsumption")
                        td kWh/m
                            sup 2
            .table
                h3 Katon tiedot
                table
                    tr
                        td Katon pinta-ala: 

                        td
                            input.shortInput(type="number",ng-model="building.solar.RoofArea")
                        td m
                            sup 2
                    tr
                        td Säteilyenergia vuodessa koko katolle:
                        td
                            input.shortInput(type="number",ng-model="building.solar.RoofAreaAvgIrradiance")
                        td kWh/m
                            sup 2
                    tr
                        td Osuus jolla säteilyenergia yli 900 kWh/m²:
                        td
                            input.shortInput(type="number",ng-model="building.solar.RoofGoodArea")
                        td m
                            sup 2
                    tr
                        td Hyvän osuuden säteilyenergia vuodessa:
                        td
                            input.shortInput(type="number",ng-model="building.solar.RoofGoodAreaAvgIrradiance")
                        td kWh/m
                            sup 2
                    tr
                        td Muun osuuden säteilyenergia vuodessa:
                        td
                            input.shortInput(type="number",ng-model="building.solar.RoofRemainingAreaAvgIrradiance")
                        td kWh/m
                            sup 2
            .table
                h3 Aurinkosähköjärjestelmän tiedot
                table
                    tr
                        td Huipputehokerroin:
                        td
                            input.shortInput(type="number",ng-model="building.solar.photovoltaicPeakPowerFactor", step="0.01")
                        td kWh/m
                            sup 2
                    tr
                        td Käyttötilanteen toimivuuskerroin: 
                        td
                            input.shortInput(type="number",ng-model="building.solar.photovoltaicInstallationFactor", step="0.01")
                        td 
            .table
                h3 Aurinkolämpöjärjestelmän tiedot
                table
                    tr
                        td Keräintyypin kohtauskulmakerroin: 

                        td
                            input.shortInput(type="number",ng-model="building.solar.IAM", step="0.01")
                        td 
                    tr
                        td Keräimen lämpöhäviökerroin: 
                        td
                            input.shortInput(type="number",ng-model="building.solar.a1", step="0.01")
                        td W/m²K
                    tr
                        td Keräimen häviökerroin: 
                        td
                            input.shortInput(type="number",ng-model="building.solar.a2", step="0.01")
                        td W/m²K²
                    tr
                        td Keräinpiirin hyötysuhde: 
                        td
                            input.shortInput(type="number",ng-model="building.solar.nkierto", step="0.01")
                        td 
                    tr
                        td Optinen hyötysuhde: 
                        td
                            input.shortInput(type="number",ng-model="building.solar.no", step="0.01")
                        td 
                    tr
                        td Lämpimän käyttöveden minimilämpötila: 
                        td
                            input.shortInput(type="number",ng-model="building.solar.thw")
                        td °C
                    tr
                        td Kylmän veden lämpötila: 
                        td
                            input.shortInput(type="number",ng-model="building.solar.tcw")
                        td °C
                    tr
                        td Varaajan lisälämmitysosan tilavuus: 
                        td
                            input.shortInput(type="number",ng-model="building.solar.Vll")
                        td litraa
                    tr
                        td Lisälämmityksen käyttötapakerroin: 
                        td
                            input.shortInput(type="number",ng-model="building.solar.xfactor", step="0.01")
                        td 
                    tr
                        td Käyttöveden lämmitystarve:
                        td
                            input.shortInput(type="number",ng-model="building.solar.waterHeatingTemperatureDifference")
                        td °C
                    tr
                        td Käyttöveden lämmityksen häviöt: 
                        td
                            input.shortInput(type="number",ng-model="building.solar.waterHeatingLosses", step="0.01")
                        td 
                    tr
                        td Lämminvesivaraajan mitoitus: 
                        td
                            input.shortInput(type="number",ng-model="building.solar.reservoirVolumeDimensioning")
                        td l/keräin m²
                    tr
                        td Lämminvesivaraajan mitoitus: 
                        td
                            input.shortInput(type="number",ng-model="building.solar.reservoirCapacityDimensioning", step="0.01")
                        td vrk kulutus
            .table
                h3 Maalämpöjärjestelmän tiedot
                table
                    tr
                        td Kaivon halkaisija: 
                        td
                            input.shortInput(type="number",ng-model="building.borehole.diameter", step="0.01")
                        td m
                    tr
                        td Alin lämpötila kaivossa:
                        td
                            input.shortInput(type="number",ng-model="building.borehole.wallTemp", step="0.01")
                        td °C
                    tr
                        td Lämmönkeruupiirin lämpötila: 
                        td
                            input.shortInput(type="number",ng-model="building.borehole.tGroundLoop")
                        td °C
                    tr
                        td Käyttöveden lämpötila: 
                        td
                            input.shortInput(type="number",ng-model="building.borehole.tOutHotWater")
                        td °C
                    tr
                        td Lämmityksen menoveden ylin lämpötila: 
                        td
                            input.shortInput(type="number",ng-model="building.borehole.tOutSpaceMax")
                        td °C
                    tr
                        td … ulkolämpötilassa: 
                        td
                            input.shortInput(type="number",ng-model="building.borehole.tOutSpaceMaxAt")
                        td °C
                    tr
                        td Lämmityksen menoveden alin lämpötila: 
                        td
                            input.shortInput(type="number",ng-model="building.borehole.tOutSpaceMin")
                        td °C
                    tr
                        td … ulkolämpötilassa: 
                        td
                            input.shortInput(type="number",ng-model="building.borehole.tOutSpaceMinAt")
                        td °C
                    tr
                        td Lauhduttimen lämpötilaero: 
                        td
                            input.shortInput(type="number",ng-model="building.borehole.tDiffCondenser")
                        td °C
                    tr
                        td Höyrystimen lämpötilaero: 
                        td
                            input.shortInput(type="number",ng-model="building.borehole.tDiffEvaporator")
                        td °C
                    tr
                        td Häviökerroin: 
                        td
                            input.shortInput(type="number",ng-model="building.borehole.efficiencyFactor", step="0.01")
                        td